@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="https://accounts.google.com/o/oauth2/v2/auth?scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar.readonly&access_type=offline&include_granted_scopes=true&response_type=code&state=state_parameter_passthrough_value&redirect_uri=https%3A%2F%2Flocalhost%3A44364%2Fapi%2FAuth%2FCallback&client_id=148638893775-f1bbqle3vgkmjvkhiadki3c79snbkpcp.apps.googleusercontent.com">구글 API를 사용할 수 있도록 허용</a>
</div>


@*코드값 : code=4/0AX4XfWjH9JSgUjvuSqhoSvCLVX4VSzEFio2Ck05VHtEL0jMIG7QuQGYGFR_HGqDbgBjhDw&scope=email%20profile%20*@