@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if ((bool)TempData["isCookies"])
    {
        <a href="@Url.Action("Login")">로그인</a>
    }
    else
    {
        <a>로그아웃</a>
    }
</div>